<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<style>
    body {
        overflow:hidden;
        position: absolute;
        margin: 0;
    }

    h1#title {
        position: absolute; 
        z-index: 1;
    }
</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.module.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/mrdoob/three.js/dev/examples/js/controls/OrbitControls.js"></script>
<script type="text/javascript" src="../static/js/letters.js"></script>
<script type="text/javascript" src="../static/js/levels/level0.js"></script>
<script type="text/javascript" src="../static/js/levels/level1.js"></script>
<script type="text/javascript" src="../static/js/levels/level2.js"></script>
<script type="text/javascript" src="../static/js/cube_move.js"></script>
<script type="text/javascript" src="../static/js/level_setup.js"></script>
<script type="text/javascript" src="../static/js/letters_printing.js"></script>
<script type="text/javascript" src="../static/js/temporal_logic.js"></script>

</head>

<body>

<div class="container">
    <h1 class="title">the actual game</h1>
    <canvas id="game" style="display: none">
    </canvas>
</div>

<script>
    start_game(level2);
    $(".container").append("<p>Hello</p>");
</script>

</body>

</html>