<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>

		<div style="background:transparent !important" class="jumbotron vertical-center">
	<div class="container-fluid">
		<h1>epic game name</h1>
		<p>Flipalo colaga :3</p>
	</div>
	<div class="container-fluid">
		<div class="container" style="margin: auto;">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th>USER</th>
						<th>LVL0</th>
						<th>LVL1</th>
						<th>LVL2</th>
						<th>LVL3</th>
					</tr>
				</thead>
				<tbody>
				<% for (var i = 0; i < ranking.length; ++i) { %>
					<tr>
						<th><%= ranking[i].username %></th>
						<th><%= ranking[i].level %></th>
						<th><%= ranking[i].level %></th>
						<th><%= ranking[i].level %></th>
						<th><%= ranking[i].level %></th>
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<a href='/game'>Go to the game!</a>
		</div>
	</div>
</div>

</body>

</html>
