<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
<ul class="nav justify-content-center">
	<li class="nav-item">
		<a class="nav-link active" href="/game">Play!</a>
	</li>
</ul>

<div style="background:transparent !important" class="jumbotron vertical-center">
	<div class="container-fluid">
		<h1 style="text-align: center">TENSORBLOCK.js</h1>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<p style="text-align: justify">
					Imagine Mario eating mushrooms. 
					Now the past is the present and the present is the past.
					TENSORBLOCK.js is a <b>Blockchain</b> and <b>Tensorflow</b> based 2D game 
					that consist in visiting your past to alter the present.
					Sometimes it can get recursive, take care! 
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<h2 style="text-align: center">THE BIBLE.js</h2>
		<div class="container" style="margin: auto;">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th>USER</th>
						<th>LVL 0</th>
						<th>LVL 1</th>
						<th>LVL 2</th>
						<th>LVL 3</th>
						<th>LVL 4</th>
						<th>LVL 5</th>
					</tr>
				</thead>
				<tbody>
				<% for (var i = 0; i < ranking.length; ++i) { %>
					<tr>
						<th><%= ranking[i].username %></th>
						<% if (ranking[i].level0) { %>
							<th> ✓ </th>
						<% } else { %>
							<th> ✗ </th>
						<% } %>
						<% if (ranking[i].level1) { %>
							<th> ✓ </th>
						<% } else { %>
							<th> ✗ </th>
						<% } %>
						<% if (ranking[i].level2) { %>
							<th> ✓ </th>
						<% } else { %>
							<th> ✗ </th>
						<% } %>
						<% if (ranking[i].level3) { %>
							<th> ✓ </th>
						<% } else { %>
							<th> ✗ </th>
						<% } %>
						<% if (ranking[i].level4) { %>
							<th> ✓ </th>
						<% } else { %>
							<th> ✗ </th>
						<% } %>
						<% if (ranking[i].level5) { %>
							<th> ✓ </th>
						<% } else { %>
							<th> ✗ </th>
						<% } %>
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>

</html>
