<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
</ul>

<div style="background:transparent !important" class="jumbotron vertical-center">
    <div class="container" style="text-align: center">
    	<h2>Choose a level :3</h2>
        <div class="list-group">
            <a href='/game/0' class="list-group-item list-group-item-action">Level 0</a>
            <a href='/game/1' class="list-group-item list-group-item-action">Level 1</a>
            <a href='/game/2' class="list-group-item list-group-item-action">Level 2</a>
            <a href='/game/3' class="list-group-item list-group-item-action">Level 3</a>
        </div>    
    </div>
</div>
</body>

</html>
