<!DOCTYPE html>
<html>

<body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.module.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/mrdoob/three.js/dev/examples/js/controls/OrbitControls.js"></script>
<script type="text/javascript" src="../static/js/letters.js"></script>
<script type="text/javascript" src="../static/js/pingu_move.js"></script>
<script type="text/javascript" src="../animation/pingu.js"></script>

<script>
    init_scene()
</script>

</body>

<head>

    <meta charset=utf-8>
    <title>3D Graphs</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">

</head>

</html>
