<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/">Ranking</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/level">Levels</a>
    </li>
</ul>
<div style="background:transparent !important" class="jumbotron vertical-center">
    <div class="row" style="text-align: center;">
        <div class="container">
            <h2>Register your progress!</h2>
            <p>If the user exists it will be updated, if not it will be created.</p>
        </div>
        <div class="container">
            <form method="POST" action="">
                <input type="text" name="username" placeholder="user">
                <input type="submit" value="go!">
            </form>
        </div>
    </div>
</div>
</body>

</html>